.grid {
  display: flex;
  flex-wrap: wrap;
  /*
  ** Note on width/height value:
  **  560px -> 28 x 28 grid -> 20px x 20px cells
  **  Grid will be 28 cells by 28 cells
  **  Cells will be 20px by 20px
  **  So, 28 cells x 20px = 560px
  */
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: greenyellow;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: inset 2px -4px 4px rgba(0, 0, 0, 0.7);
}

.wall {
  background-color: blue;
  border-radius: 2px;
  box-shadow: inset 5px -5px 1px 1px rgba(0, 0, 0, 0.5);
}

.power-pellet {
  background-color: yellowgreen;
  border-radius: 10px;
  box-shadow: inset 5px -5px 4px rgba(0, 0, 0, 0.3),
    1px 1px 12px 10px rgba(154, 205, 50, 0.8);
  z-index: 1;
  animation: glow 1.5s infinite;
}

@keyframes glow {
  50% {
    box-shadow: inset 5px -5px 4px rgba(0, 0, 0, 0.4),
      1px 1px 2px 5px rgba(154, 205, 50, 0.3);
  }
}

.pac-man {
  background-color: yellow;
  border-radius: 10px;
  box-shadow: inset 2px -5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
}

.ghost {
  border: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px dashed white;
  box-sizing: border-box;
  position: relative;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.ghost::before {
  content: "@ @";
  font-size: 7px;
  color: blue;
  position: absolute;
  top: 5px;
  left: 2px;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.scared-ghost {
  background-color: aquamarine;
}
